{% extends "doctor/base.html" %}
{% block head_block %}
<style>
#username , #password{
  width:400px;
  border: 0px;
  border-bottom:#2285e2 solid 1px;
  margin-left: 10px;
  
}
</style>
{% endblock %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">

    <h1>Please Login</h1>

      <form method="post" action="{% url 'doctor:DoctorLogin' %}">
        {% csrf_token %}
        <input type="text" id="username" name="username" placeholder="Username" value={{username}}><br><br>
        <input type="password" id="password" name="password" placeholder="Password" value="{{password}}"><br><br>
        <a href=""><input type="submit" name="" class="btn btn-outline-primary btn-lg" value="Doctor Login!!"></a>
      </form>
  </div>
</div>
{% endblock %}
